<header class="page-header">
    <h1>User: {{ currentUser.fname }} {{ currentUser.lname }}</h1>
</header>


<table class="table">
    <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Email</td>
            <td>{{ currentUser.email }}</td>
        </tr>
        <tr>
            <td>API Token</td>
            <td>{{ currentUser.token }}</td>
        </tr>
    </tbody>
</table>
{{> shared/_bs_form }}
